Section: games
Priority: optional
Homepage: https://cli.mcpr.io/
Standards-Version: 3.9.2
Bugs: https://github.com/mcpr/mcpr-cli/issues
Vcs-Browser: https://github.com/mcpr/mcpr-cli
Package: mcpr-cli
Version: 0.0.9
Maintainer: Noah Prail <noah@prail.net>
Recommends: default-jdk,git
Architecture: all
Copyright: LICENSE
# Changelog: <changelog file; defaults to a generic changelog>
Readme: README.md
Files: mcpr /usr/local/bin/
Description: A CLI for setting up and controlling Minecraft servers.
