### Commented entries have reasonable defaults.
# Source: <source package name; defaults to package name>
Section: misc
Priority: optional
Homepage: https://mcpr.github.io/mcpr-cli/
Standards-Version: 3.9.2

Package: mcpr-cli
Version: 0.0.8
Maintainer: Noah Prail <Noah@Prail.net>
# Pre-Depends: <comma-separated list of packages>
# Depends: <comma-separated list of packages>
# Recommends: <comma-separated list of packages>
# Suggests: <comma-separated list of packages>
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
# Architecture: all
# Multi-Arch: <one of: foreign|same|allowed>
Copyright: LICENSE
# Changelog: <changelog file; defaults to a generic changelog>
Readme: README.md
# Extra-Files: <comma-separated list of additional files for the doc directory>
Files: bin/linux/mcpr /usr/local/bin/
#<pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: A CLI for setting up and controlling Minecraft servers.
